:root {
  --background: #020617;
  --foreground: #f8fafc;
  --card: #1e293b;
  --card-foreground: #f8fafc;
  --popover: #0f172a;
  --popover-foreground: #f8fafc;
  --primary: #14b8a6;
  --primary-foreground: #020617;
  --secondary: #1e293b;
  --secondary-foreground: #f1f5f9;
  --muted: #0f172a;
  --muted-foreground: #94a3b8;
  --accent: #0d9488;
  --accent-foreground: #f0fdfa;
  --destructive: #7f1d1d;
  --destructive-foreground: #fef2f2;
  --border: #1e293b;
  --input: #1e293b;
  --ring: #14b8a6;
  --radius: 0.75rem;
  --sidebar: #0f172a;
  --sidebar-foreground: #f8fafc;
  --sidebar-primary: #14b8a6;
  --sidebar-primary-foreground: #020617;
  --sidebar-accent: #1e293b;
  --sidebar-accent-foreground: #f8fafc;
  --sidebar-border: #1e293b;
  --sidebar-ring: #14b8a6;
  --chart-1: #14b8a6;
  --chart-2: #0ea5e9;
  --chart-3: #6366f1;
  --chart-4: #8b5cf6;
  --chart-5: #ec4899;
  --input-background: #2d2d2d;
  --switch-background: #cbced4;
  --font-size: 16px;
  --font-weight-medium: 500;
  --font-weight-normal: 400;
}

.dark {
  --background: #020617;
  --foreground: #f8fafc;
  --card: #1e293b;
  --card-foreground: #f8fafc;
  --popover: #0f172a;
  --popover-foreground: #f8fafc;
  --primary: #14b8a6;
  --primary-foreground: #020617;
  --secondary: #1e293b;
  --secondary-foreground: #f1f5f9;
  --muted: #0f172a;
  --muted-foreground: #94a3b8;
  --accent: #0d9488;
  --accent-foreground: #f0fdfa;
  --destructive: #7f1d1d;
  --destructive-foreground: #fef2f2;
  --border: #1e293b;
  --input: #1e293b;
  --ring: #14b8a6;
  --sidebar: #0f172a;
  --sidebar-foreground: #f8fafc;
  --sidebar-primary: #14b8a6;
  --sidebar-primary-foreground: #020617;
  --sidebar-accent: #1e293b;
  --sidebar-accent-foreground: #f8fafc;
  --sidebar-border: #1e293b;
  --sidebar-ring: #14b8a6;
}
